
/*正品特卖 */
#div1{
	width: 100%;
}

#div1>img{
	width: 100%;
}

*{
	margin: 0px;
}

/*十个图片 */
#div2{
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}
#div2 > img{
	width: 20%;
}

/*品牌巨献 + 三个图片 */
#div3, #div4,#div3_top,#div5,#div6,#div6_top{
	width: 100%;
}

#div4_top{
	height: 75px;
}

#div4{
	background: url(../img/4.jpg) no-repeat ;
	background-size: 100%;
}



/*品牌巨献 */
#div3_top>img, #div6_top>img{
	width: 100%;
}
#div3_bm, #div4_bm,#div5_bm{
	width: 100%;
	display: flex;
	justify-content: space-around;   
}

#div3_bm>img{
	width: 30%;
}
#div4_bm>div>.img_4,#div5_bm>div>img{
	width: 100%;
}
#div4_bm > div{
	width: 20%;
	height: 150px;
}
#div4_bm>div>.icon{
	width: 80%;
	display: block;
	margin: 0 auto;
}
#div4_bm>div>.price{
	color: #DC3C94;
	font-size: small;
	text-align: center;
}

#div5{
	background: url(../img/5.png) no-repeat ;
	background-size: 100%;
	
}

#div5_top{
	height:70px;
}

#div5_bm>div{
	width: 28%;
}

#div5_bm>div>.price>.pre_price{
	width: 40%;
	background: #FF2E77;
	color: white;
	font-size: small;
}

#div5_bm>div>.price{
	width: 80%;
	margin: 0px auto;
	height: 30px;
}

#div6 > img{
	width: 95%;
	display: block;
	margin: 0 auto;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#div6{
	background: #F3F4F6;
}

#div6_bm{
	background: white;
}

#font_6_1{
	font-weight: bold;
}
#font_6_2{
	color: #9898AB;
	font-size: small;
	float: right;
}
#div6_bm{
	width: 95%;
	margin: 0 auto;
}
#div6_bm>div{
	width: 95%;
	margin: 3px auto;
	background-color: white;
	
}
#font_6_3{
	color: #DC3C94;
}
#font_6_4{
	color: #585C64;
	font-size: small;
}
